<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert header fragment -->
<head th:insert="fragments/fragments.html :: header">
</head>
<body>
<!-- Replace fragment  -->
	<div th:replace="fragments/fragments.html :: navigation"></div>
	
	<h1>Sign Up</h1>
	
	<div class="container mt-sm-3">
		<div th:if="${param.error}">
		<p th:each="error: ${param.errors}">
			<span style="font-size: 20; color: #FF1C19;" th:text="${error}"></span>
		</p>
		</div>
		<form th:action="@{/signup}" th:object="${user}" method="post">
		<label for="username">Username</label> <input type="text"
					id="username" name="username" th:placeholder="username" class="form-control"
					required th:field="*{username}"/>
		<label for="email">Email</label> <input type="email"
					id="email" name="email" th:placeholder="email" class="form-control"
					required th:field="*{email}"/>
		<label for="password">Password</label> <input type="password"
			id="password" name="password" th:placeholder="password" class="form-control"
			required th:field="*{password}"/>	
		<label for="confirmPassword">Confirm password</label> <input type="password"
		id="confirmPassword" name="confirmPassword" th:placeholder="confirmPassword" class="form-control"
		required th:field="*{confirmPassword}"/>	
		<button type="submit" class="btn btn-primary">Sign Up</button>
		</form>
	</div>
</body>
</html>