<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Insert header fragment -->

<head th:insert="fragments/fragments.html :: header">
</head>

<body>
    <!-- Replace fragment  -->
    <div th:replace="fragments/fragments.html :: navigation"></div>

    <div th:replace="fragments/fragments.html :: showErrors"></div>

    <div class="d-flex justify-content-center p-4">
        <div class="flex-column w-50">
        	
        	<label class="switch">
			  <input id="switch" type="checkbox" onclick="changeForm()">
			  <span class="slider round"></span>
			</label>
			<span class="font-weight-bold text-white mb-2">by Tag</span>
        	
            <div class="text-center">
		
				<div id="searchByWord" class="mb-5">
	                <div class="display-4 font-weight-bold text-white mb-2">Search by word : </div>
	                <form th:action="@{/search}" class="text-center d-block m-auto" method="get">
	                    <input type="text" class="w-75 h3 align-middle input-word text-center font-weight-bold d-inline-block mb-3" id="word" name="word" th:placeholder="word" /><br>
	                    <button type="submit" class="btn btn-he-dico-blue align-middle button-mine d-inline-block"><i class="fas fa-search"></i></button>
	                </form>
                </div>
                
                <div id="searchByTag" class="mb-5" style="display:none">
	                <div class="display-4 font-weight-bold text-white mb-2">Search by tag : </div>
	                <form th:action="@{/searchByTag}" class="text-center d-block m-auto" method="get">
	                    <input type="text" class="w-75 h3 align-middle input-word text-center font-weight-bold d-inline-block mb-3" id="name" name="name" th:placeholder="name" /><br>
	                    <button type="submit" class="btn btn-he-dico-blue align-middle button-mine d-inline-block"><i class="fas fa-search"></i></button>
	                </form>
                </div>

                <div th:if="${not #lists.isEmpty(definitions)}">
                    <div class="border-035 border-he-dico-blue p-4 text-left mb-4 bg-white" th:each="definition: ${definitions}">
                        
                        <div class="d-inline-block" th:each="tag: ${definition.containingTags}">
							<div class="h5 font-weight-bold d-inline-block p-2 mr-1 rounded text-white" th:style="|background-color:${tag.color};|" th:text="${tag.name}"></div>
						</div>
                        
                        <div class="display-4 mb-3 font-weight-bold" th:text="${definition.word}"></div>                     
                        <div class="h5 mb-3" th:text="${definition.description}"></div>
                        <div class="h5">
                        	<div class="font-weight-bold d-inline-block">by</div>
                        	<div class="font-weight-bold text-primary d-inline-block" th:text="${definition.creator.username}"></div>
                        </div>
                        
                        <div class="h4 mt-4" sec:authorize="isAuthenticated()">
							
							<div class="d-inline-block mr-3">
							
								<span class="font-weight-bold" th:text="${definition.nupvote}"></span>
	
	                            <form id="upvoteForm" class="d-inline-block" th:action="@{/Upvote}" method="post"
	                                th:unless="${#lists.contains(upvotes,definition.id)}">
	                                <input type="hidden" th:value="${definition.id}" id="definitionID" name="definitionID">
	                                <button class="btn btn-lg btn-dark" type="submit"><i class="fas fa-thumbs-up"></i></button>
	                            </form>
	                            
	                            <form id="upvoteForm" class="d-inline-block" th:action="@{/UnUpvote}" method="post"
	                                th:if="${#lists.contains(upvotes,definition.id)}">
	                                <input type="hidden" th:value="${definition.id}" id="definitionID" name="definitionID">
	                                <button class="btn btn-lg btn-success" type="submit"><i class="fas fa-thumbs-up"></i></button>
	                            </form>
                            </div>
                            
                            <div class="d-inline-block">
	                            <span class="font-weight-bold" th:text="${definition.ndownvote}"></span>
	                            
	                            <form id="downvoteForm" class="d-inline-block" th:action="@{/UnDownvote}" method="post"
	                                th:if="${#lists.contains(downvotes,definition.id)}">
	                                <input type="hidden" th:value="${definition.id}" id="definitionID" name="definitionID">
	                                <button class="btn btn-lg btn-danger" type="submit"><i class="fas fa-thumbs-down"></i></button>
	                            </form>
	                            
	                            <form id="downvoteForm" class="d-inline-block" th:action="@{/Downvote}" method="post"
	                                th:unless="${#lists.contains(downvotes,definition.id)}">
	                                <input type="hidden" th:value="${definition.id}" id="definitionID" name="definitionID">
	                                <button class="btn btn-lg btn-dark" type="submit"><i class="fas fa-thumbs-down"></i></button>
	                            </form>
                            </div>
                                     
	                      	<span sec:authorize="hasAuthority('MODERATOR')" class="float-right">
							<form th:action="@{/definition/delete}"	method="post" class="d-inline-block">
							<input type="hidden" th:value="${definition.id}"
								id="definitionID" name="definitionID">
							<button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
							</form>
							</span>
						</div>
                        <div class="font-weight-bold h5" sec:authorize="not isAuthenticated()">
                            <span th:text="${definition.nupvote}"></span>
                            <button class="btn btn-lg btn-success" data-toggle="tooltip" data-placement="top" title="You must be logged in." type="submit" disabled>
                            	<i class="fas fa-thumbs-up"></i>
                           	</button>
                            <span th:text="${definition.ndownvote}"></span>
                            <button class="btn btn-lg btn-danger" data-toggle="tooltip" data-placement="top" title="You must be logged in." type="submit" disabled><i class="fas fa-thumbs-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/changeForm.js}"></script>
</body>

</html>